@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;

    /* variable */
    --primary: hsl(47, 88%, 63%);
    --grey: hsl(0, 0%, 50%);
}

img {
    width: 100%;
}

body {
    background-color: var(--primary);
    font-family: 'Figtree', sans-serif;
}

main {
    position: relative;
}

#card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    width: min(90%, 350px);
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 1px rgba(0,0,0,0.79);
}

#card .banner  img{
    border-radius: 10px;
}

#card span {
    display: block;
}

#card .tag {
    padding: 5px;
    margin: 10px 0;
    width: 90px;
    border-radius: 5px;
    background-color: var(--primary);
    text-align: center;
    font-weight: 800;
    font-size: .9rem;
}

#card .date-published {
    margin: 10px 0;
    font-size: .9rem;
    font-weight: 600;
}

#card .title {
    margin: 15px 0;
    font-size: 1.2rem;
    cursor: pointer;
}

#card .title:hover, .title:focus {
    color: var(--primary);
}

#card .content {
    font-size: .9rem;
    color: var(--grey);
    font-weight: 600;
}

#card .user {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#card .user img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#card .user .username {
    font-size: .9rem;
    font-weight: 800;
}
